<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7B0ZTz7BZZLQ4E7cPD77Ns2mih7u3y5U&callback=initMap"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
  integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
  crossorigin="anonymous"></script>

<div id="main">
  <div id="map"></div>
  <div id="adverts">
    <div class="ad">
      ad1
    </div>
    <div class="ad">
      ad2
    </div>
  </div>
</div>

<script>
  function initMap() {
    var latlng = new google.maps.LatLng(
      gon.minpaku_all[0].latitude,
      gon.minpaku_all[0].longtitude
    ); //中心の緯度, 経度
    var map = new google.maps.Map(document.getElementById("map"), {
      zoom: 14, //ズームの調整
      center: latlng //上で設定した中心
    });

    var markers = [];
    var info_windows = [];

    for (var i = 0; i < gon.minpaku_all.length; i++) {
      markers[i] = new google.maps.Marker({
        position: new google.maps.LatLng(
          gon.minpaku_all[i].latitude,
          gon.minpaku_all[i].longtitude
        ),
        map: map,
        icon: "/assets/main/home_icon_main_1.png"
      });

      var html =
        `<div class="modal">
                    <div class="minpaku_name_area minpaku_basic_info">
                      <div class="home_icon_modal">
                        <img src="/assets/main/modal/home_icon_modal_1.png" widtth="40" height="40">
                      </div>
                      <div class="minpaku_name">
                      ` +
        gon.minpaku_all[i].name +
        `
                      </div>
                    </div>

                    <div class="minpaku_location_area minpaku_basic_info">
                      <div class="address_icon_modal">
                        <img src="/assets/main/modal/address_modal.png" widtth="30" height="30">
                      </div>
                      <div class = "address_area">
                        <div class ="postal_code">
                        〒 ` +
        gon.minpaku_all[i].postal_code +
        `
                        </div>
                        <div class="address_full">
                        ` +
        gon.minpaku_all[i].prefecture +
        gon.minpaku_all[i].city +
        gon.minpaku_all[i].address_details +
        `
                        </div>
                      </div>
                    </div>

                    <div class="move_to_survey minpaku_basic_info">
                      <a href="/survey?minpaku_id=` +
        gon.minpaku_all[i].id +
        `">アンケートに回答する</a>
                    </div>

                    <div class="aggregate_values" id="minpaku_id_` +
        gon.minpaku_all[i].id +
        `">
                    <canvas id="chart_id_` +
        gon.minpaku_all[i].id +
        `" width="400" height="400"></canvas>

                    </div>

                  </div>`;

      info_windows[i] = new google.maps.InfoWindow({
        content: html
      });

      google.maps.event.addListener(
        markers[i],
        "click",
        (function (i) {
          return function () {
            info_windows[i].open(map, markers[i]);
            add_aggregate_values_dom(gon.minpaku_all[i].id);
          };
        })(i)
      );

      function add_aggregate_values_dom(id) {
        var request = new XMLHttpRequest();
        request.open("GET", "/get_aggregate_values/" + id, true);
        request.onload = function () {
          build_radar_chart(this.response, id);
        };
        request.send();
      }

      function build_radar_chart(response, id) {
        var labels = [];
        var values = [];

        var aggregate_values = JSON.parse(response);

        aggregate_values.forEach(aggregate_value => {
          labels.push(aggregate_value.survey_name);
          values.push(aggregate_value.average * 10);
        });

        var target = document.getElementById("chart_id_" + id);
        var radarChart = new Chart(target, {
          type: "radar",
          data: {
            labels: labels,
            datasets: [{
              label: "近隣住民からの評価",
              data: values,
              backgroundColor: "rgba(96, 183, 220, 0.5)",
              borderColor: "rgba(96, 183, 220, 0.5)"
            }]
          },
          options: {
            scale: {
              ticks: {
                suggestedMin: 0,
                suggestedMax: 10,
                fontSize: 12
              },
              pointLabels: {
                fontSize: 16
              }
            },
            legend: {
              display: true,
              labels: {
                fontSize: 16
              }
            }
          }
        });
      }
    }
  }
</script>