// Place all the styles related to the minpaku controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#map {
  width: 80%;
  height: 700px;
  background-color: grey;
}

.minpaku_name_area {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.minpaku_location_area {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.address_area {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
