// Place all the styles related to the minpaku controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


#main {
  display: flex;
  justify-content: left;
}

#map {
  width: 80%;
  height: 900px;

  margin-left: 2%;

  border: 16px solid #918f91;
  border-radius: 80px;
}

#adverts {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.ad {
  display: block;
  background-color: #787979;
  margin-left: 12px;
}

//以下modal

.close_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 4px;
  margin-left: 8px;
  margin-bottom: 8px;
}

.close_text {
  margin-left: 12px;
  font-size: 16px;
}

.minpaku_name_area {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.minpaku_name {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.minpaku_location_area {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.address_icon_modal {
  margin-left: 8px;
  margin-right: 8px;
}

.minpaku_basic_info {
  margin-top: 16px;
  margin-bottom: 16px;
}

.move_to_survey {
  font-size: 16px;
  margin-top: 24px;
  margin-left: 8px;
}

.address_area {
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-size: 16px;
}